<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etms.rs485.mapper.TBdRS485Mapper" >
  <resultMap id="tBdRS485ResultMap" type="com.etms.rs485.pojo.TBdRS485" >
    <result column="TerminalCode" property="terminalCode" jdbcType="VARCHAR" />
    <result column="PortID" property="portID" jdbcType="INTEGER" />
    <result column="PortName" property="portName" jdbcType="VARCHAR" />
    <result column="BaudRate" property="baudRate" jdbcType="INTEGER" />
    <result column="StopBit" property="stopBit" jdbcType="INTEGER" />
    <result column="CheckBit" property="checkBit" jdbcType="VARCHAR" />
    <result column="DataBit" property="dataBit" jdbcType="INTEGER" />
 
</resultMap>
  
  <select id="selectByCode" resultMap="tBdRS485ResultMap">
	  select * from t_bd_rs485 where TerminalCode=#{terminalCode}
  </select>
  
  <select id="selectByCodeAndID" resultMap="tBdRS485ResultMap">
	  select * from t_bd_rs485 where TerminalCode=#{arg0} AND PortID=#{arg1}
  </select>
  
  <insert id="insert">
  	insert into t_bd_rs485 (TerminalCode,PortID) values(#{arg0},#{arg1})
  </insert>
  
  <select id="count" parameterType="String" resultType="Integer">
    select count(1) from t_bd_rs485 where TerminalCode=#{terminalCode}
  </select>
  
  <delete id="deleteLarger">
    delete from t_bd_rs485 where TerminalCode=#{arg0} and PortID>#{arg1}
  </delete>
  
  <delete id="deleteList">
  	delete from t_bd_rs485 where TerminalCode in
	<foreach collection="array" open="(" close=")" separator="," item="pk">
		#{pk}
	</foreach>  
  </delete>
  
  <update id="update" parameterType="TBdRS485">
    update t_bd_rs485 set PortName=#{portName},BaudRate=#{baudRate},StopBit=#{stopBit},CheckBit=#{checkBit},DataBit=#{dataBit} where TerminalCode=#{terminalCode} and PortID=#{portID}
  </update>
  
</mapper>