<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etms.terminalStatus.mapper.TBdTerminalStatusMapper" >
  <resultMap id="tBdTerminalStatusResultMap" type="com.etms.terminalStatus.pojo.TBdTerminalStatus" >
    <result column="StatusId" property="statusId" jdbcType="INTEGER" />
    <result column="statusName" property="statusName" jdbcType="VARCHAR" />
  </resultMap>
  
</mapper>